In [5]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [71]:
year = 2018
url = f"https://www.ipokiso.com/company/{year}.html"

In [72]:
res = requests.get(url)

In [73]:
soup = BeautifulSoup(res.text)

In [74]:
tables = pd.read_html(url)

In [75]:
df = pd.DataFrame()
for i in range(0, len(tables), 2):
    table = pd.concat([tables[i], tables[i+1]], axis=1)
    df = pd.concat([df, table])

In [76]:
df.head()

,企業名,総合 評価,上場市場,申し込み 期間,上場日,当たり本数,想定価格,仮条件,公募価格,初値,初値 上昇率,狙い目証券
0,リンク (4428),NaN,東証 マザーズ,12/6 ～12/12,12/25,"2,852本 （少ない）","3,110円","3,380円 ～3,580円","3,580円","7,620円","+4,040円 （112.8％）",SBI（主） 大和 岩井 GMO
1,レオス・ キャピタルワークス (7330) 上場中止,NaN,東証 マザーズ,12/6 ～12/12,12/25,"36,366本 （多い）","2,010円","1,300円 ～1,400円","1,400円",-,-,SBI（副） 楽天 マネックス ライブスター
2,ベルトラ (7048),NaN,東証 マザーズ,12/6 ～12/12,12/25,"35,880本 （多い）",360円 （低価格）,360円 ～384円,384円,514円,+130円 （33.9％）,野村（主） SMBC日興 SBI マネックス 松井
3,EduLab (4427),NaN,東証 マザーズ,12/6 ～12/12,12/21,"16,561本","2,800円","2,800円 ～3,200円","3,200円","3,270円",+70円 （+2.2％）,SMBC日興（主） マネックス カブコム 楽天
4,企業名,総合 評価,上場市場,申し込み 期間,上場日,当たり本数,想定価格,仮条件,公募価格,初値,初値 上昇率,狙い目証券

In [77]:
df = df[~(df["企業名"] == "企業名")]

In [78]:
df["企業名"] = df["企業名"].str.extract(r"\((.+)\)")

In [79]:
df["上場日"] = f"{year}/" + df["上場日"]

In [80]:
df.shape

(100, 12)

In [81]:
rates = []
for img in soup.select("img[alt]"):
    rate = img["alt"]
    if len(rate) == 1:
        rates.append(rate)

In [82]:
len(rates)

100

In [83]:
df["rate"] = rates

In [84]:
pd.set_option('display.max_rows', None)

In [85]:
df[["企業名", "上場日", "rate"]]

     企業名         上場日 rate
0   4428  2018/12/25    A
1   7330  2018/12/25    C
2   7048  2018/12/25    C
3   4427  2018/12/21    C
5   7047  2018/12/21    C
6   7037  2018/12/21    C
7   6232  2018/12/21    C
8   4424  2018/12/20    D
10  7671  2018/12/20    C
11  4425  2018/12/19    S
12  9434  2018/12/19    D
13  7046  2018/12/18    S
15  1450  2018/12/18    B
16  7045  2018/12/17    B
17  2970  2018/12/17    B
18  7670  2018/12/13    C
20  1449  2018/12/13    B
21  4423  2018/12/12    D
22  7044  2018/12/11    A
23  7043  2018/12/11    B
0   3498  2018/11/28    A
1   7042   2018/11/6    C
0   4422  2018/10/30    B
2   3497  2018/10/23    B
3   4421  2018/10/19    C
4   9279  2018/10/19    C
5   7805  2018/10/18    C
7   4420  2018/10/12    C
8   4598  2018/10/12    D
9   7041  2018/10/10    C
10  7039   2018/10/3    B
0   3612   2018/9/28    D
1   7038   2018/9/28    C
2   9285   2018/9/27    D
4   6233   2018/9/27    C
5   7326   2018/9/27    D
6   4398   2018/9/26    B
7   7325   2018/9/25    C
9   7036   2018/9/21    A
10  7037   2018/9/20    C
11  3496   2018/9/20    A
12  3495   2018/9/13    C
14  3494   2018/9/13    B
15  3493    2018/9/7    D
16  9275    2018/9/6    D
17  7035    2018/9/6    A
0   4397   2018/8/22    A
1   4396    2018/8/2    A
2   5699    2018/8/2    C
0   3492   2018/7/27    D
1   7034   2018/7/27    B
3   4395   2018/7/26    A
4   4394   2018/7/26    B
5   3491   2018/7/25    A
6   4393   2018/7/24    A
8   7033   2018/7/23    A
9   7806   2018/7/10    B
10  1446    2018/7/5    C
12   NaN    2018/上場日    A
0   7030   2018/6/29    B
2   7032   2018/6/28    B
3   7031   2018/6/27    A
4   4390   2018/6/27    A
5   4388   2018/6/27    A
7   4389   2018/6/27    A
8   9274   2018/6/26    D
9   6580   2018/6/22    B
10  4387   2018/6/21    S
12  9273   2018/6/21    B
13  4386   2018/6/21    A
14  6579   2018/6/20    S
15  4385   2018/6/19    B
0   4384   2018/5/31    D
0   6578   2018/4/27    B
1   6577   2018/4/25    S
2   7323   2018/4/25    B
3   4382   2018/4/20    S
5   6574   2018/4/11    A
6   6575   2018/4/10    B
7   4381    2018/4/4    S
8   9272    2018/4/3    C
0   7320   2018/3/30    B
1   9271   2018/3/29    C
3   3490   2018/3/29    C
4   6573   2018/3/28    A
5   6572   2018/3/27    S
6   6571   2018/3/23    D
8   9450   2018/3/23    B
9   9270   2018/3/22    C
10  3447   2018/3/20    D
11  6570   2018/3/19    C
13  3489   2018/3/16    C
14  6569   2018/3/16    D
15  6568   2018/3/15    C
16  6567    2018/3/2    C
0   3446   2018/2/28    B
2   4380   2018/2/23    S
3   3488   2018/2/15    C
4   6234    2018/2/8    C
5   3487    2018/2/7    C